@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::selection {
  background-color: #000;
  color: #fff;
}

:root {
  --main-color: #4c00b0;
  --second-color: rgba(0, 185, 255, 0.6);
  --main-section-padding: 80px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  position: relative;
  cursor: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.png);
  background-size: cover;
  opacity: 0.75;
  z-index: -1;
}

.title {
  display: block;
  text-align: center;
  font-size: 40px;
}

.title span {
  color: var(--main-color);
}

.copyRight {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1.5px solid #494949;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: 10000000;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #494949;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000000000000;
}

.lazy-load {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
    cursor: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
    cursor: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

header {
  position: relative;
  padding: 0 15px;
  z-index: 999;
  transition: 0.01ms;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  background-color: #fff;
  box-shadow: -2px 4px 13px 0px #b1b1b1;
  border-radius: 100px;
}

@media (max-width: 992px) {
  header .container {
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  header .container {
    padding: 5px 10px;
    flex-direction: column;
  }
}

header .container img {
  width: 126px;
  height: 35px;
}

@media (max-width: 992px) {
  header .container img {
    width: 126px;
    height: 35px;
  }
}

header .container nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header .container nav ul li {
  margin-left: 20px;
  border-radius: 25px;
  transition: 0.4s;
}

@media (max-width: 992px) {
  header .container nav ul li {
    margin-left: 7px;
  }
}

header .container nav ul li a {
  all: unset;
  display: block;
  cursor: none;
  font-size: 17px;
  padding: 8px 15px;
}

@media (max-width: 992px) {
  header .container nav ul li a {
    font-size: 13px;
    padding: 4px 10px;
  }
}

header .container nav ul li:first-child {
  margin-left: 0;
  cursor: none;
}

header .container nav ul li.active {
  background-color: #d9d9d9;
  color: var(--main-color);
  cursor: none;
}

header .container nav ul li:hover {
  background-color: #d9d9d9;
  color: var(--main-color);
  cursor: none;
}

.landing-page {
  display: flex;
  align-items: center;
  height: 100vh;
  cursor: none;

  position: relative;
}

@media (min-width: 992px) {
  .landing-page {
    height: calc(100vh - 60.68px);
  }
}

@media (max-width: 991.99px) {
  .landing-page {
    height: calc(100vh - 47.97px);
  }
}

@media (max-width: 767.99px) {
  .landing-page {
    height: calc(100vh - 62.97px);
  }
}

.landing-page .container .text-container {
  text-align: center;
  margin-bottom: 60px;
  cursor: none;
}

.landing-page .container .text-container p {
  margin: 0;
}

.landing-page .container .text-container p:nth-child(1) {
  font-size: 100px;
  font-weight: bold;
  color: var(--main-color);
}

@media (max-width: 768px) {
  .landing-page .container .text-container p:nth-child(1) {
    font-size: 60px;
  }
}

.landing-page .container .text-container p:nth-child(1) span {
  color: #000;
  font-size: 35px;
  font-weight: medium;
}

.landing-page .container .text-container p:nth-child(2) {
  font-size: 80px;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 768px) {
  .landing-page .container .text-container p:nth-child(2) {
    font-size: 40px;
  }
}

.landing-page .container .text-container p:nth-child(2) span {
  color: var(--main-color);
}

.landing-page button {
  all: unset;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: solid #000 3px;
  padding: 5px;
  border-radius: 20px;
  cursor: none;
  animation: bottom-to-top ease 1s infinite;
}

.about-us {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.about-us .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: 420px;
  justify-content: center;
  column-gap: 120px;
  row-gap: 20px;
}

@media (max-width: 991px) {
  .about-us .container {
    grid-template-rows: repeat(2, 420px);
  }
}

@media (max-width: 771px) {
  .about-us .container {
    grid-template-rows: repeat(3, 420px);
  }
}

.about-us .container .box {
  display: flex;
  flex-direction: column;
  background-color: #320059;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  position: relative;
}

.about-us .container .box .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.about-us .container .box:hover .overlay {
  opacity: 0;
}

.about-us .container .box:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.about-us .container .box:not(:hover) {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.about-us .container .box .langs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 13px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-us .container .box .langs span {
  padding: 3px;
  background-color: #fff;
  color: #320059;
  width: 80px;
  border-radius: 20px;
}

.about-us .container .box .langs span:first-child {
  margin-top: 0;
}

.about-us .container .box h2 {
  font-weight: bold;
}

.about-us .container .box p {
  font-weight: 400;
  font-size: 14px;
}

@keyframes bottom-to-top {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

.projects {
  padding-bottom: var(--main-section-padding);
  padding-top: var(--main-section-padding);
}

.projects .projs {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #4c00b0, #371c4b);
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  width: 90%;
  margin: 30px auto;
}

.projects .projs {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.projects .projs h2 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .projects .projs h2 {
    font-size: 30px;
  }
}

.contact-us {
  padding-bottom: var(--main-section-padding);
  padding-top: var(--main-section-padding);
}

.contact-us .container .contact-us-boxs {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
}

@media (max-width: 991px) {
  .contact-us .container .contact-us-boxs {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .contact-us .container .contact-us-boxs {
    grid-template-columns: repeat(1, 100%);
  }
}

.contact-us .container .contact-us-boxs .contact-us-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  text-align: center;
  background-color: #330075;
}

.contact-us .container .contact-us-boxs .contact-us-box img,
i {
  border-radius: 50%;
}

.contact-us .container .contact-us-boxs .contact-us-box img {
  height: 50px;
}

.contact-us .container .contact-us-boxs .contact-us-box i {
  font-size: 30px;
  color: #000;
  background-color: #fff;
  padding: 10px;
}

.contact-us .container .contact-us-boxs .contact-us-box a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  transition: 0.4s;
  margin-top: 20px;
  font-weight: bold;
  transition: transform 0.3s ease; /* Add a transition effect for smooth animation */
}

.contact-us .container .contact-us-boxs .contact-us-box a:hover {
  transform: scale(1.2);
}

footer {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  background-color: #190039;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

footer .holder {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  footer .holder {
    flex-direction: column;
    row-gap: 40px;
  }
}

footer .holder .person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

footer .holder .person p {
  font-size: 18px;
}

footer .holder .person p span {
  font-weight: 600;
}

footer .holder .person .social-media a {
  margin-left: 5px;
}

footer .holder .person .social-media a:first-child {
  margin-left: 0;
}

footer .holder .person .social-media a i {
  font-size: 30px;
  color: #fff;
  transition: 0.4s;
}

footer .holder .person .social-media a i:hover {
  color: #4c00b0;
}
